/* Minified: print.css */
table.todo_table td.todo_id,table.todo_table th.todo_id{width:35pt;text-align:right}table.todo_table td.todo_id{color:#666;width:80px}table.todo_table td.icon{color:#666;text-align:right}
